alembic~=1.7.5
autoenv~=1.0.0
autopep8~=1.6.0
bcrypt~=3.2.0
certifi~=2021.10.8
cffi~=1.15.0
charset-normalizer~=2.0.10
click~=7.1.2
coverage~=6.2
Flask~=1.1.2
Flask-API~=1.1
Flask-Bcrypt~=0.7.1
Flask-Migrate~=3.1.0
Flask-Script~=2.0.6
Flask-SQLAlchemy~=2.5.1
greenlet~=1.1.2
idna~=3.3
importlib-metadata~=4.10.1
importlib-resources~=5.4.0
itsdangerous~=1.1.0
Jinja2~=2.11.3
Mako~=1.1.6
Markdown~=3.3.6
MarkupSafe~=2.0.1
psycopg2~=2.9.3
pycodestyle~=2.8.0
pycparser~=2.21
PyJWT~=2.3.0
python-coveralls~=2.9.3
python-dotenv~=0.19.2
python-editor~=1.0.4
PyYAML~=6.0
requests~=2.27.1
six~=1.16.0
SQLAlchemy~=1.4.31
toml~=0.10.2
urllib3~=1.26.8
Werkzeug~=1.0.1
zipp~=3.7.0
